In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
# from textwrap import wrap

%matplotlib inline
%run cleaning_demo.ipynb
%run cleaning_web_data.ipynb
%run cleaning_experiment_clients.ipynb

df_demo = import_df_demo() # type: ignore
df_web_data = import_df_web_data() # type: ignore
df_experiment_clients = import_df_experiment_clients() # type: ignore

In [18]:
df_demo, df_web_data, df_experiment_clients

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
50495     393005   Control
50496    2908510   Control
50497    7230446      Test
50498    5230357      Test
50499    6334360      Test

[50500 rows x 2 columns]

In [19]:
df_merge_1 = pd.merge(df_web_data, df_demo, on="client_id", how="left")
# df_merge_1

df_merge_2 = pd.merge(df_merge_1, df_experiment_clients, on="client_id", how="left")
df_merge_2

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df_merge_2[df_merge_2["client_id"] == 9668240]

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
755384,9668240,388766751_9038881013,922267647_3096648104_968866,confirm,2017-05-24 19:07:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755385,9668240,388766751_9038881013,922267647_3096648104_968866,step_3,2017-05-24 19:05:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755386,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 19:05:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755387,9668240,388766751_9038881013,922267647_3096648104_968866,step_3,2017-05-24 19:04:43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755388,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 19:04:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755389,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 19:04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755390,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 19:02:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755391,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 19:02:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755392,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 19:02:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755393,9668240,388766751_9038881013,922267647_3096648104_968866,step_3,2017-05-24 18:51:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755394,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 18:51:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755395,9668240,388766751_9038881013,922267647_3096648104_968866,step_3,2017-05-24 18:51:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755396,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 18:49:36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755397,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:49:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755398,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 18:48:11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755399,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:48:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_merge_2.isna().sum()

client_id                0
visitor_id               0
visit_id                 0
process_step             0
date_time                0
clnt_tenure_yr      305701
clnt_tenure_mnth    305701
clnt_age            305701
gendr               305701
num_accts           305701
bal                 305701
calls_6_mnth        305701
logons_6_mnth       305701
Variation           434096
dtype: int64

In [22]:
df_merge_2.dropna(how="any", inplace=True)
df_merge_2.reset_index(drop=True, inplace=True)

df_merge_2

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321190,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,10.0,121.0,55.0,U,2.0,153238.83,3.0,6.0,Test
321191,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0,Control
321192,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0,Control
321193,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0,Control
321194,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0,Control

In [ ]:
df_join_clean = df_merge_2

In [ ]:
def import_df_join_clean():
    return (
        df_join_clean
        )