In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import random
# from textwrap import wrap

import functions as f

%matplotlib inline

# %run cleaning_demo.ipynb
# %run cleaning_web_data.ipynb
# %run cleaning_experiment_clients.ipynb

# df_demo = import_df_demo() # type: ignore
# df_web_data = import_df_web_data() # type: ignore
# df_experiment_clients = import_df_experiment_clients() # type: ignore

df_demo = pd.read_csv("../data/clean/df_demo_clean.csv")
df_web_data = pd.read_csv("../data/clean/df_web_data_clean.csv")
df_experiment_clients = pd.read_csv("../data/clean/df_experiment_clients_clean.csv")

In [2]:
df_demo, df_web_data, df_experiment_clients

df_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70078 entries, 0 to 70077
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70078 non-null  int64
 1   clnt_tenure_yr    70078 non-null  int64
 2   clnt_tenure_mnth  70078 non-null  int64
 3   clnt_age          70078 non-null  int64
 4   gendr             70078 non-null  object
 5   num_accts         70078 non-null  int64
 6   bal               70078 non-null  float64
 7   calls_6_mnth      70078 non-null  int64
 8   logons_6_mnth     70078 non-null  int64
 9   tenure            70078 non-null  object
 10  age_group         70078 non-null  object
 11  bal_category_3    70078 non-null  object
 12  bal_category_2    70078 non-null  object
dtypes: float64(1), int64(7), object(5)
memory usage: 7.0+ MB

In [3]:
# Merge first two dataframes
df_merge_1 = pd.merge(df_web_data, df_demo, on="client_id", how="left")

# Merge resting dataframe
df_merge_2 = pd.merge(df_merge_1, df_experiment_clients, on="client_id", how="left")

df_merge_2

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,tenure,age_group,bal_category_3,bal_category_2,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:27:07,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,New Client,Elderly,Medium,High,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:26:51,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,New Client,Elderly,Medium,High,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:19:22,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,New Client,Elderly,Medium,High,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:19:13,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,New Client,Elderly,Medium,High,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:18:04,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,New Client,Elderly,Medium,High,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,0,2017-05-24 18:46:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755401,9668240,388766751_9038881013,922267647_3096648104_968866,0,2017-05-24 18:45:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755402,9668240,388766751_9038881013,922267647_3096648104_968866,1,2017-05-24 18:44:51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755403,9668240,388766751_9038881013,922267647_3096648104_968866,0,2017-05-24 18:44:34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755404,674799,947159805_81558194550,86152093_47511127657_716022,0,2017-06-03 12:17:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_merge_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         755405 non-null  int64
 1   visitor_id        755405 non-null  object
 2   visit_id          755405 non-null  object
 3   process_step      755405 non-null  int64
 4   date_time         755405 non-null  object
 5   clnt_tenure_yr    446674 non-null  float64
 6   clnt_tenure_mnth  446674 non-null  float64
 7   clnt_age          446674 non-null  float64
 8   gendr             446674 non-null  object
 9   num_accts         446674 non-null  float64
 10  bal               446674 non-null  float64
 11  calls_6_mnth      446674 non-null  float64
 12  logons_6_mnth     446674 non-null  float64
 13  tenure            446674 non-null  object
 14  age_group         446674 non-null  object
 15  bal_category_3    446674 non-null  object
 16  bal_category_2    446674 non-null  object
 17  Variation         321309 non-null  object
dtypes: float64(7), int64(2), object(9)
memory usage: 103.7+ MB

In [5]:
# Check random client_ids

list_of_ids = df_merge_2["client_id"].to_list()
df_merge_2[df_merge_2["client_id"] == random.choice(list_of_ids)]

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,tenure,age_group,bal_category_3,bal_category_2,Variation
66091,2328764,987799546_76550562192,987155805_87448099277_933284,0,2017-04-02 14:36:16,18.0,216.0,47.0,M,3.0,416911.21,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
66092,2328764,987799546_76550562192,987155805_87448099277_933284,0,2017-04-02 14:34:40,18.0,216.0,47.0,M,3.0,416911.21,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
66120,2328764,140871677_99117796206,914569228_82130515670_14818,2,2017-03-26 13:00:38,18.0,216.0,47.0,M,3.0,416911.21,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
66121,2328764,140871677_99117796206,914569228_82130515670_14818,1,2017-03-26 13:00:09,18.0,216.0,47.0,M,3.0,416911.21,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
66122,2328764,140871677_99117796206,914569228_82130515670_14818,0,2017-03-26 12:59:36,18.0,216.0,47.0,M,3.0,416911.21,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
66123,2328764,140871677_99117796206,914569228_82130515670_14818,0,2017-03-26 12:58:01,18.0,216.0,47.0,M,3.0,416911.21,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
66124,2328764,140871677_99117796206,914569228_82130515670_14818,0,2017-03-26 12:57:36,18.0,216.0,47.0,M,3.0,416911.21,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
66164,2328764,987799546_76550562192,987155805_87448099277_933284,3,2017-04-02 14:31:42,18.0,216.0,47.0,M,3.0,416911.21,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
66165,2328764,987799546_76550562192,987155805_87448099277_933284,2,2017-04-02 14:31:24,18.0,216.0,47.0,M,3.0,416911.21,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
66166,2328764,987799546_76550562192,987155805_87448099277_933284,3,2017-04-02 14:31:05,18.0,216.0,47.0,M,3.0,416911.21,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
66167,2328764,987799546_76550562192,987155805_87448099277_933284,2,2017-04-02 14:30:55,18.0,216.0,47.0,M,3.0,416911.21,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
66168,2328764,987799546_76550562192,987155805_87448099277_933284,3,2017-04-02 14:30:22,18.0,216.0,47.0,M,3.0,416911.21,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
66169,2328764,987799546_76550562192,987155805_87448099277_933284,2,2017-04-02 14:30:12,18.0,216.0,47.0,M,3.0,416911.21,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
66170,2328764,987799546_76550562192,987155805_87448099277_933284,3,2017-04-02 14:26:57,18.0,216.0,47.0,M,3.0,416911.21,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
66171,2328764,987799546_76550562192,987155805_87448099277_933284,2,2017-04-02 14:23:33,18.0,216.0,47.0,M,3.0,416911.21,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
66172,2328764,987799546_76550562192,987155805_87448099277_933284,1,2017-04-02 14:23:27,18.0,216.0,47.0,M,3.0,416911.21,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
66173,2328764,987799546_76550562192,987155805_87448099277_933284,0,2017-04-02 14:23:17,18.0,216.0,47.0,M,3.0,416911.21,6.0,9.0,Long Standing Client,Adults,Medium,High,Control

In [6]:
# Check for NaN values count
df_merge_2.isna().sum()

client_id                0
visitor_id               0
visit_id                 0
process_step             0
date_time                0
clnt_tenure_yr      308731
clnt_tenure_mnth    308731
clnt_age            308731
gendr               308731
num_accts           308731
bal                 308731
calls_6_mnth        308731
logons_6_mnth       308731
tenure              308731
age_group           308731
bal_category_3      308731
bal_category_2      308731
Variation           434096
dtype: int64

In [7]:
# Drop NaN values
df_merge_2.dropna(how="any", inplace=True)
df_merge_2.reset_index(drop=True, inplace=True)

df_merge_2

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,tenure,age_group,bal_category_3,bal_category_2,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:27:07,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,New Client,Elderly,Medium,High,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:26:51,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,New Client,Elderly,Medium,High,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:19:22,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,New Client,Elderly,Medium,High,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:19:13,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,New Client,Elderly,Medium,High,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:18:04,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,New Client,Elderly,Medium,High,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319489,1574008,117364417_77840596075,528720790_71583064618_169151,0,2017-05-06 23:43:27,10.0,121.0,55.0,U,2.0,153238.83,3.0,6.0,Long Standing Client,Senior,Medium,High,Test
319490,2908510,814969699_90652851448,562606085_36368381773_92090,0,2017-05-10 22:57:17,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
319491,2908510,814969699_90652851448,562606085_36368381773_92090,2,2017-05-10 22:56:31,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
319492,2908510,814969699_90652851448,562606085_36368381773_92090,1,2017-05-10 22:56:23,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
319493,2908510,814969699_90652851448,562606085_36368381773_92090,0,2017-05-10 22:56:20,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0,Long Standing Client,Adults,Medium,High,Control

In [8]:
# Cast floats as integers
df_merge_2 = df_merge_2.astype({
    "clnt_tenure_yr": "int64", 
    "clnt_tenure_mnth": "int64",
    "clnt_age": "int64",
    "num_accts": "int64",
    "calls_6_mnth": "int64",
    "logons_6_mnth": "int64"
    })

df_merge_2

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,tenure,age_group,bal_category_3,bal_category_2,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:27:07,5,64,79,U,2,189023.86,1,4,New Client,Elderly,Medium,High,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:26:51,5,64,79,U,2,189023.86,1,4,New Client,Elderly,Medium,High,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:19:22,5,64,79,U,2,189023.86,1,4,New Client,Elderly,Medium,High,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:19:13,5,64,79,U,2,189023.86,1,4,New Client,Elderly,Medium,High,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:18:04,5,64,79,U,2,189023.86,1,4,New Client,Elderly,Medium,High,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319489,1574008,117364417_77840596075,528720790_71583064618_169151,0,2017-05-06 23:43:27,10,121,55,U,2,153238.83,3,6,Long Standing Client,Senior,Medium,High,Test
319490,2908510,814969699_90652851448,562606085_36368381773_92090,0,2017-05-10 22:57:17,21,252,34,M,3,141808.05,6,9,Long Standing Client,Adults,Medium,High,Control
319491,2908510,814969699_90652851448,562606085_36368381773_92090,2,2017-05-10 22:56:31,21,252,34,M,3,141808.05,6,9,Long Standing Client,Adults,Medium,High,Control
319492,2908510,814969699_90652851448,562606085_36368381773_92090,1,2017-05-10 22:56:23,21,252,34,M,3,141808.05,6,9,Long Standing Client,Adults,Medium,High,Control
319493,2908510,814969699_90652851448,562606085_36368381773_92090,0,2017-05-10 22:56:20,21,252,34,M,3,141808.05,6,9,Long Standing Client,Adults,Medium,High,Control

In [9]:
# Cast date_time as datetime
df_merge_2['date_time'] = pd.to_datetime(df_merge_2['date_time'])
df_merge_2 = df_merge_2.sort_values(by=["client_id","date_time"], ascending=[True,True])
df_merge_2

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,tenure,age_group,bal_category_3,bal_category_2,Variation
70439,555,402506806_56087378777,637149525_38041617439_716659,0,2017-04-15 12:57:56,3,46,30,U,2,25454.66,2,6,New Client,Young Adult,Low,Low,Test
70438,555,402506806_56087378777,637149525_38041617439_716659,1,2017-04-15 12:58:03,3,46,30,U,2,25454.66,2,6,New Client,Young Adult,Low,Low,Test
70437,555,402506806_56087378777,637149525_38041617439_716659,2,2017-04-15 12:58:35,3,46,30,U,2,25454.66,2,6,New Client,Young Adult,Low,Low,Test
70436,555,402506806_56087378777,637149525_38041617439_716659,3,2017-04-15 13:00:14,3,46,30,U,2,25454.66,2,6,New Client,Young Adult,Low,Low,Test
70435,555,402506806_56087378777,637149525_38041617439_716659,4,2017-04-15 13:00:34,3,46,30,U,2,25454.66,2,6,New Client,Young Adult,Low,Low,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274608,9999729,834634258_21862004160,870243567_56915814033_814203,2,2017-05-08 16:08:40,10,124,31,F,3,107059.74,6,9,Long Standing Client,Adults,Medium,High,Test
274607,9999729,834634258_21862004160,870243567_56915814033_814203,3,2017-05-08 16:09:19,10,124,31,F,3,107059.74,6,9,Long Standing Client,Adults,Medium,High,Test
274606,9999729,834634258_21862004160,870243567_56915814033_814203,4,2017-05-08 16:09:40,10,124,31,F,3,107059.74,6,9,Long Standing Client,Adults,Medium,High,Test
243640,9999832,145538019_54444341400,472154369_16714624241_585315,0,2017-05-16 16:46:03,23,281,49,F,2,431887.61,1,4,Long Standing Client,Adults,Medium,High,Test
243639,9999832,145538019_54444341400,472154369_16714624241_585315,1,2017-05-16 16:46:11,23,281,49,F,2,431887.61,1,4,Long Standing Client,Adults,Medium,High,Test

In [10]:
# Round Balance (bal) to 2 decimals
df_merge_2['bal'] = df_merge_2['bal'].apply(lambda x: round(x, 2))
df_merge_2

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,tenure,age_group,bal_category_3,bal_category_2,Variation
70439,555,402506806_56087378777,637149525_38041617439_716659,0,2017-04-15 12:57:56,3,46,30,U,2,25454.66,2,6,New Client,Young Adult,Low,Low,Test
70438,555,402506806_56087378777,637149525_38041617439_716659,1,2017-04-15 12:58:03,3,46,30,U,2,25454.66,2,6,New Client,Young Adult,Low,Low,Test
70437,555,402506806_56087378777,637149525_38041617439_716659,2,2017-04-15 12:58:35,3,46,30,U,2,25454.66,2,6,New Client,Young Adult,Low,Low,Test
70436,555,402506806_56087378777,637149525_38041617439_716659,3,2017-04-15 13:00:14,3,46,30,U,2,25454.66,2,6,New Client,Young Adult,Low,Low,Test
70435,555,402506806_56087378777,637149525_38041617439_716659,4,2017-04-15 13:00:34,3,46,30,U,2,25454.66,2,6,New Client,Young Adult,Low,Low,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274608,9999729,834634258_21862004160,870243567_56915814033_814203,2,2017-05-08 16:08:40,10,124,31,F,3,107059.74,6,9,Long Standing Client,Adults,Medium,High,Test
274607,9999729,834634258_21862004160,870243567_56915814033_814203,3,2017-05-08 16:09:19,10,124,31,F,3,107059.74,6,9,Long Standing Client,Adults,Medium,High,Test
274606,9999729,834634258_21862004160,870243567_56915814033_814203,4,2017-05-08 16:09:40,10,124,31,F,3,107059.74,6,9,Long Standing Client,Adults,Medium,High,Test
243640,9999832,145538019_54444341400,472154369_16714624241_585315,0,2017-05-16 16:46:03,23,281,49,F,2,431887.61,1,4,Long Standing Client,Adults,Medium,High,Test
243639,9999832,145538019_54444341400,472154369_16714624241_585315,1,2017-05-16 16:46:11,23,281,49,F,2,431887.61,1,4,Long Standing Client,Adults,Medium,High,Test

In [18]:
#Added session started and completed columns.
df_merge_2['session_completed'] = df_merge_2.groupby('visit_id')['process_step'].transform(lambda x: 1 if (4 in x.values) else 0)
# Check if a visit_id has any process_step = 0
df_merge_2['session_started'] = df_merge_2.groupby('visit_id')['process_step'].transform(lambda x: 1 if (0 in x.values) else 0)

df_step_4 = df_merge_2[df_merge_2['process_step'] == 4]
df_step_4_sorted = df_step_4.sort_values(by='date_time', ascending=True)
df_step_4_cleaned = df_step_4_sorted.drop_duplicates(subset=['client_id', 'visit_id', 'visitor_id'], keep='first')
df_non_step_4 = df_merge_2[df_merge_2['process_step'] != 4]
df_merge_2 = pd.concat([df_non_step_4, df_step_4_cleaned])
df_merge_2 = df_merge_2.reset_index(drop=True)

In [19]:
#Created different DF for error rate.
merged_grouped =df_merge_2.groupby(['client_id', 'visit_id', 'visitor_id','Variation'])['process_step'].apply(list).reset_index()

# create new column as error rate and apply the method on all clients in dataframe
merged_grouped['error_rate'] = merged_grouped.apply(
    lambda row: f.backward_steps_for_client(row['process_step'], row['client_id'],row['Variation'])[row['client_id']],
    axis=1  # Process each row individually
)

In [20]:
# Rename dataframe to export
df_join_clean = df_merge_2

In [21]:
# Evaluates funnel conversion. Step progresion status.

df_join_clean['steps_status'] = None
previous_visit_id = None
previous_value = None

for i in range(len(df_join_clean)):
    current_visit_id = df_join_clean.iloc[i]["visit_id"]
    current_value = df_join_clean.iloc[i]["process_step"]

    if current_value == 0:
        df_join_clean.iloc[i, df_join_clean.columns.get_loc('steps_status')] = 0
    else:
        if previous_value > current_value:
            df_join_clean.iloc[i, df_join_clean.columns.get_loc('steps_status')] = -1
        if previous_value == current_value:
            df_join_clean.iloc[i, df_join_clean.columns.get_loc('steps_status')] = 0
        if previous_value < current_value:
            df_join_clean.iloc[i, df_join_clean.columns.get_loc('steps_status')] = 1
        # if current_value == 4:
        #     df_join_clean.iloc[i, df_join_clean.columns.get_loc('steps_status')] = "confirm"
    
    previous_value = current_value

display(df_join_clean)

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,...,calls_6_mnth,logons_6_mnth,tenure,age_group,bal_category_3,bal_category_2,Variation,session_started,steps_status,session_completed
0,555,402506806_56087378777,637149525_38041617439_716659,0,2017-04-15 12:57:56,3,46,30,U,2,...,2,6,New Client,Young Adult,Low,Low,Test,1,0,1
1,555,402506806_56087378777,637149525_38041617439_716659,1,2017-04-15 12:58:03,3,46,30,U,2,...,2,6,New Client,Young Adult,Low,Low,Test,1,1,1
2,555,402506806_56087378777,637149525_38041617439_716659,2,2017-04-15 12:58:35,3,46,30,U,2,...,2,6,New Client,Young Adult,Low,Low,Test,1,1,1
3,555,402506806_56087378777,637149525_38041617439_716659,3,2017-04-15 13:00:14,3,46,30,U,2,...,2,6,New Client,Young Adult,Low,Low,Test,1,1,1
4,647,66758770_53988066587,40369564_40101682850_311847,0,2017-04-12 15:41:28,12,151,58,M,2,...,0,4,Long Standing Client,Senior,Low,Low,Test,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314163,8087297,705480062_61677487543,382863409_32223115689_382818,4,2017-06-20 22:31:10,6,77,45,U,2,...,4,7,New Client,Adults,Low,Low,Control,1,0,1
314164,9358802,942961634_72894201792,994534828_9307546636_924563,4,2017-06-20 22:32:06,14,175,33,F,2,...,6,9,Long Standing Client,Adults,Medium,High,Test,1,0,1
314165,351901,441550691_95235779278,20921390_15666229944_683250,4,2017-06-20 22:44:04,11,137,36,F,4,...,6,9,Long Standing Client,Adults,Medium,High,Test,1,0,1
314166,1545935,976873968_42239039722,10056419_61656665964_803695,4,2017-06-20 23:21:23,4,59,24,F,3,...,5,8,New Client,Young Adult,Low,Low,Test,1,0,1
314167,1558312,397562195_28573798537,175513303_32086468382_224926,4,2017-06-20 23:26:00,23,276,64,F,2,...,2,5,Long Standing Client,Senior,Low,Low,Control,1,0,1

In [22]:
# Save to csv
f.save_to_csv(df_join_clean, "df_join_clean.csv")
f.save_to_csv(merged_grouped,"both_groups_error_rate.csv")

DataFrame successfully saved to ../data/clean/df_join_clean.csv
DataFrame successfully saved to ../data/clean/both_groups_error_rate.csv

In [23]:
# create a dummy function to export dataframe directly
def import_df_join_clean():
    return (
        df_join_clean
        )