In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import random
from textwrap import wrap

%matplotlib inline

In [ ]:
df = pd.read_csv("../data/raw/df_final_demo.txt")
df

In [ ]:
# Check random client_ids

list_of_ids = df["client_id"].to_list()
df[df["client_id"] == random.choice(list_of_ids)]

In [ ]:
# Check for NaN values count
df.isna().sum()

In [ ]:
# Visualizes only rows with NaN values
df_nas = df[df.isna().any(axis=1)]
df_nas

In [ ]:
# Drop NaN values
df.dropna(inplace=True, how="any")
df.reset_index(drop=True)

df

In [ ]:
# Check again rows with NaN values
df_nas = df[df.isna().any(axis=1)]
df_nas

In [ ]:
# Cast floats as integers
df = df.astype({
    "clnt_tenure_yr": "int64", 
    "clnt_tenure_mnth": "int64",
    "clnt_age": "int64",
    "num_accts": "int64",
    "calls_6_mnth": "int64",
    "logons_6_mnth": "int64"
    })

df

In [ ]:
# Rename dataframe to export
df_demo = df
df_demo

In [23]:
# create a dummy function to send to the exploration notebook
def import_df_demo():
    return (
        df_demo
        )