In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from textwrap import wrap

%matplotlib inline

In [11]:
df_1 = pd.read_csv("../data/raw/df_final_web_data_pt_1.txt")
df_2 = pd.read_csv("../data/raw/df_final_web_data_pt_2.txt")
df_1, df_2

(        client_id             visitor_id                      visit_id  \
 0         9988021   580560515_7732621733  781255054_21935453173_531117
 1         9988021   580560515_7732621733  781255054_21935453173_531117
 2         9988021   580560515_7732621733  781255054_21935453173_531117
 3         9988021   580560515_7732621733  781255054_21935453173_531117
 4         9988021   580560515_7732621733  781255054_21935453173_531117
 ...           ...                    ...                           ...
 343136    2443347  465784886_73090545671  136329900_10529659391_316129
 343137    2443347  465784886_73090545671  136329900_10529659391_316129
 343138    2443347  465784886_73090545671  136329900_10529659391_316129
 343139    2443347  465784886_73090545671  136329900_10529659391_316129
 343140    2443347  465784886_73090545671  136329900_10529659391_316129

        process_step            date_time
 0            step_3  2017-04-17 15:27:07
 1            step_2  2017-04-17 15:26:51
 2            step_3  2017-04-17 15:19:22
 3            step_2  2017-04-17 15:19:13
 4            step_3  2017-04-17 15:18:04
 ...             ...                  ...
 343136      confirm  2017-03-31 15:15:46
 343137       step_3  2017-03-31 15:14:53
 343138       step_2  2017-03-31 15:12:08
 343139       step_1  2017-03-31 15:11:37
 343140        start  2017-03-31 15:10:47

 [343141 rows x 5 columns],
         client_id             visitor_id                      visit_id  \
 0          763412  601952081_10457207388  397475557_40440946728_419634
 1         6019349  442094451_91531546617  154620534_35331068705_522317
 2         6019349  442094451_91531546617  154620534_35331068705_522317
 3         6019349  442094451_91531546617  154620534_35331068705_522317
 4         6019349  442094451_91531546617  154620534_35331068705_522317
 ...           ...                    ...                           ...
 412259    9668240   388766751_9038881013   922267647_3096648104_968866
 412260    9668240   388766751_9038881013   922267647_3096648104_968866
 412261    9668240   388766751_9038881013   922267647_3096648104_968866
 412262    9668240   388766751_9038881013   922267647_3096648104_968866
 412263     674799  947159805_81558194550   86152093_47511127657_716022

        process_step            date_time
 0           confirm  2017-06-06 08:56:00
 1           confirm  2017-06-01 11:59:27
 2            step_3  2017-06-01 11:58:48
 3            step_2  2017-06-01 11:58:08
 4            step_1  2017-06-01 11:57:58
 ...             ...                  ...
 412259        start  2017-05-24 18:46:10
 412260        start  2017-05-24 18:45:29
 412261       step_1  2017-05-24 18:44:51
 412262        start  2017-05-24 18:44:34
 412263        start  2017-06-03 12:17:09

 [412264 rows x 5 columns])

In [12]:
df = pd.concat([df_1, df_2], axis=0)
df

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [13]:
df[df["client_id"] == 9668240]

,client_id,visitor_id,visit_id,process_step,date_time
412243,9668240,388766751_9038881013,922267647_3096648104_968866,confirm,2017-05-24 19:07:35
412244,9668240,388766751_9038881013,922267647_3096648104_968866,step_3,2017-05-24 19:05:14
412245,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 19:05:07
412246,9668240,388766751_9038881013,922267647_3096648104_968866,step_3,2017-05-24 19:04:43
412247,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 19:04:03
412248,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 19:04:00
412249,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 19:02:37
412250,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 19:02:19
412251,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 19:02:04
412252,9668240,388766751_9038881013,922267647_3096648104_968866,step_3,2017-05-24 18:51:37
412253,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 18:51:15
412254,9668240,388766751_9038881013,922267647_3096648104_968866,step_3,2017-05-24 18:51:04
412255,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 18:49:36
412256,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:49:35
412257,9668240,388766751_9038881013,922267647_3096648104_968866,step_2,2017-05-24 18:48:11
412258,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:48:02
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34

In [14]:
df.isna().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [15]:
df_nas = df[df.isna().any(axis=1)]
df_nas

Empty DataFrame
Columns: [client_id, visitor_id, visit_id, process_step, date_time]
Index: []

In [19]:
# casting process_steps as numbers
steps_map = {
    "start": 0,
    "step_1": 1,
    "step_2": 2,
    "step_3": 3,
    "confirm": 4
}

df["process_step"] = df["process_step"].map(steps_map)
df

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,0,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,0,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,0,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,0,2017-06-03 12:17:09

In [20]:
df_web_data = df
df_web_data

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,0,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,0,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,0,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,0,2017-06-03 12:17:09

In [18]:
# create a dummy function to send to the exploration notebook
def import_df_web_data():
    return (
        df_web_data
        )