In [66]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import random
# from textwrap import wrap

import functions as f

%matplotlib inline

# %run cleaning_demo.ipynb
# %run cleaning_web_data.ipynb
# %run cleaning_experiment_clients.ipynb

# df_demo = import_df_demo() # type: ignore
# df_web_data = import_df_web_data() # type: ignore
# df_experiment_clients = import_df_experiment_clients() # type: ignore

df_demo = pd.read_csv("../data/clean/df_demo_clean.csv")
df_web_data = pd.read_csv("../data/clean/df_web_data_clean.csv")
df_experiment_clients = pd.read_csv("../data/clean/df_experiment_clients_clean.csv")

In [67]:
df_demo, df_web_data, df_experiment_clients

df_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70081 entries, 0 to 70080
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70081 non-null  int64
 1   clnt_tenure_yr    70081 non-null  int64
 2   clnt_tenure_mnth  70081 non-null  int64
 3   clnt_age          70081 non-null  int64
 4   gendr             70081 non-null  object
 5   num_accts         70081 non-null  int64
 6   bal               70081 non-null  float64
 7   calls_6_mnth      70081 non-null  int64
 8   logons_6_mnth     70081 non-null  int64
 9   tenure            70081 non-null  object
 10  age_group         70081 non-null  object
 11  bal_category_3    70081 non-null  object
 12  bal_category_2    70081 non-null  object
dtypes: float64(1), int64(7), object(5)
memory usage: 7.0+ MB

In [68]:
# Merge first two dataframes
df_merge_1 = pd.merge(df_web_data, df_demo, on="client_id", how="left")

# Merge resting dataframe
df_merge_2 = pd.merge(df_merge_1, df_experiment_clients, on="client_id", how="left")

df_merge_2

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,tenure,age_group,bal_category_3,bal_category_2,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:27:07,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,New Client,Elderly,Medium,High,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:26:51,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,New Client,Elderly,Medium,High,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:19:22,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,New Client,Elderly,Medium,High,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:19:13,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,New Client,Elderly,Medium,High,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:18:04,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,New Client,Elderly,Medium,High,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,0,2017-05-24 18:46:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755401,9668240,388766751_9038881013,922267647_3096648104_968866,0,2017-05-24 18:45:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755402,9668240,388766751_9038881013,922267647_3096648104_968866,1,2017-05-24 18:44:51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755403,9668240,388766751_9038881013,922267647_3096648104_968866,0,2017-05-24 18:44:34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755404,674799,947159805_81558194550,86152093_47511127657_716022,0,2017-06-03 12:17:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
df_merge_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         755405 non-null  int64
 1   visitor_id        755405 non-null  object
 2   visit_id          755405 non-null  object
 3   process_step      755405 non-null  int64
 4   date_time         755405 non-null  object
 5   clnt_tenure_yr    446688 non-null  float64
 6   clnt_tenure_mnth  446688 non-null  float64
 7   clnt_age          446688 non-null  float64
 8   gendr             446688 non-null  object
 9   num_accts         446688 non-null  float64
 10  bal               446688 non-null  float64
 11  calls_6_mnth      446688 non-null  float64
 12  logons_6_mnth     446688 non-null  float64
 13  tenure            446688 non-null  object
 14  age_group         446688 non-null  object
 15  bal_category_3    446688 non-null  object
 16  bal_category_2    446688 non-null  object
 17  Variation         321309 non-null  object
dtypes: float64(7), int64(2), object(9)
memory usage: 103.7+ MB

In [70]:
# Check random client_ids

list_of_ids = df_merge_2["client_id"].to_list()
df_merge_2[df_merge_2["client_id"] == random.choice(list_of_ids)]

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,tenure,age_group,bal_category_3,bal_category_2,Variation
709538,9063906,704253818_8085869618,943006978_33600703862_311625,4,2017-05-24 12:38:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
709539,9063906,704253818_8085869618,943006978_33600703862_311625,3,2017-05-24 12:38:01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
709540,9063906,704253818_8085869618,943006978_33600703862_311625,2,2017-05-24 12:36:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
709541,9063906,704253818_8085869618,943006978_33600703862_311625,1,2017-05-24 12:36:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
709542,9063906,704253818_8085869618,943006978_33600703862_311625,0,2017-05-24 12:36:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
# Check for NaN values count
df_merge_2.isna().sum()

client_id                0
visitor_id               0
visit_id                 0
process_step             0
date_time                0
clnt_tenure_yr      308717
clnt_tenure_mnth    308717
clnt_age            308717
gendr               308717
num_accts           308717
bal                 308717
calls_6_mnth        308717
logons_6_mnth       308717
tenure              308717
age_group           308717
bal_category_3      308717
bal_category_2      308717
Variation           434096
dtype: int64

In [72]:
# Drop NaN values
df_merge_2.dropna(how="any", inplace=True)
df_merge_2.reset_index(drop=True, inplace=True)

df_merge_2

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,tenure,age_group,bal_category_3,bal_category_2,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:27:07,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,New Client,Elderly,Medium,High,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:26:51,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,New Client,Elderly,Medium,High,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:19:22,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,New Client,Elderly,Medium,High,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:19:13,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,New Client,Elderly,Medium,High,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:18:04,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,New Client,Elderly,Medium,High,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319497,1574008,117364417_77840596075,528720790_71583064618_169151,0,2017-05-06 23:43:27,10.0,121.0,55.0,U,2.0,153238.83,3.0,6.0,Long Standing Client,Senior,Medium,High,Test
319498,2908510,814969699_90652851448,562606085_36368381773_92090,0,2017-05-10 22:57:17,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
319499,2908510,814969699_90652851448,562606085_36368381773_92090,2,2017-05-10 22:56:31,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
319500,2908510,814969699_90652851448,562606085_36368381773_92090,1,2017-05-10 22:56:23,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0,Long Standing Client,Adults,Medium,High,Control
319501,2908510,814969699_90652851448,562606085_36368381773_92090,0,2017-05-10 22:56:20,21.0,252.0,34.0,M,3.0,141808.05,6.0,9.0,Long Standing Client,Adults,Medium,High,Control

In [73]:
# Cast floats as integers
df_merge_2 = df_merge_2.astype({
    "clnt_tenure_yr": "int64", 
    "clnt_tenure_mnth": "int64",
    "clnt_age": "int64",
    "num_accts": "int64",
    "calls_6_mnth": "int64",
    "logons_6_mnth": "int64"
    })

df_merge_2

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,tenure,age_group,bal_category_3,bal_category_2,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:27:07,5,64,79,U,2,189023.86,1,4,New Client,Elderly,Medium,High,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:26:51,5,64,79,U,2,189023.86,1,4,New Client,Elderly,Medium,High,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:19:22,5,64,79,U,2,189023.86,1,4,New Client,Elderly,Medium,High,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:19:13,5,64,79,U,2,189023.86,1,4,New Client,Elderly,Medium,High,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:18:04,5,64,79,U,2,189023.86,1,4,New Client,Elderly,Medium,High,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319497,1574008,117364417_77840596075,528720790_71583064618_169151,0,2017-05-06 23:43:27,10,121,55,U,2,153238.83,3,6,Long Standing Client,Senior,Medium,High,Test
319498,2908510,814969699_90652851448,562606085_36368381773_92090,0,2017-05-10 22:57:17,21,252,34,M,3,141808.05,6,9,Long Standing Client,Adults,Medium,High,Control
319499,2908510,814969699_90652851448,562606085_36368381773_92090,2,2017-05-10 22:56:31,21,252,34,M,3,141808.05,6,9,Long Standing Client,Adults,Medium,High,Control
319500,2908510,814969699_90652851448,562606085_36368381773_92090,1,2017-05-10 22:56:23,21,252,34,M,3,141808.05,6,9,Long Standing Client,Adults,Medium,High,Control
319501,2908510,814969699_90652851448,562606085_36368381773_92090,0,2017-05-10 22:56:20,21,252,34,M,3,141808.05,6,9,Long Standing Client,Adults,Medium,High,Control

In [74]:
# Cast date_time as datetime
df_merge_2['date_time'] = pd.to_datetime(df_merge_2['date_time'])
df_merge_2

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,tenure,age_group,bal_category_3,bal_category_2,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:27:07,5,64,79,U,2,189023.86,1,4,New Client,Elderly,Medium,High,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:26:51,5,64,79,U,2,189023.86,1,4,New Client,Elderly,Medium,High,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:19:22,5,64,79,U,2,189023.86,1,4,New Client,Elderly,Medium,High,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:19:13,5,64,79,U,2,189023.86,1,4,New Client,Elderly,Medium,High,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:18:04,5,64,79,U,2,189023.86,1,4,New Client,Elderly,Medium,High,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319497,1574008,117364417_77840596075,528720790_71583064618_169151,0,2017-05-06 23:43:27,10,121,55,U,2,153238.83,3,6,Long Standing Client,Senior,Medium,High,Test
319498,2908510,814969699_90652851448,562606085_36368381773_92090,0,2017-05-10 22:57:17,21,252,34,M,3,141808.05,6,9,Long Standing Client,Adults,Medium,High,Control
319499,2908510,814969699_90652851448,562606085_36368381773_92090,2,2017-05-10 22:56:31,21,252,34,M,3,141808.05,6,9,Long Standing Client,Adults,Medium,High,Control
319500,2908510,814969699_90652851448,562606085_36368381773_92090,1,2017-05-10 22:56:23,21,252,34,M,3,141808.05,6,9,Long Standing Client,Adults,Medium,High,Control
319501,2908510,814969699_90652851448,562606085_36368381773_92090,0,2017-05-10 22:56:20,21,252,34,M,3,141808.05,6,9,Long Standing Client,Adults,Medium,High,Control

In [75]:
# Round Balance (bal) to 2 decimals
df_merge_2['bal'] = df_merge_2['bal'].apply(lambda x: round(x, 2))
df_merge_2

,client_id,visitor_id,visit_id,process_step,date_time,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,tenure,age_group,bal_category_3,bal_category_2,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:27:07,5,64,79,U,2,189023.86,1,4,New Client,Elderly,Medium,High,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:26:51,5,64,79,U,2,189023.86,1,4,New Client,Elderly,Medium,High,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:19:22,5,64,79,U,2,189023.86,1,4,New Client,Elderly,Medium,High,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,2,2017-04-17 15:19:13,5,64,79,U,2,189023.86,1,4,New Client,Elderly,Medium,High,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,3,2017-04-17 15:18:04,5,64,79,U,2,189023.86,1,4,New Client,Elderly,Medium,High,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319497,1574008,117364417_77840596075,528720790_71583064618_169151,0,2017-05-06 23:43:27,10,121,55,U,2,153238.83,3,6,Long Standing Client,Senior,Medium,High,Test
319498,2908510,814969699_90652851448,562606085_36368381773_92090,0,2017-05-10 22:57:17,21,252,34,M,3,141808.05,6,9,Long Standing Client,Adults,Medium,High,Control
319499,2908510,814969699_90652851448,562606085_36368381773_92090,2,2017-05-10 22:56:31,21,252,34,M,3,141808.05,6,9,Long Standing Client,Adults,Medium,High,Control
319500,2908510,814969699_90652851448,562606085_36368381773_92090,1,2017-05-10 22:56:23,21,252,34,M,3,141808.05,6,9,Long Standing Client,Adults,Medium,High,Control
319501,2908510,814969699_90652851448,562606085_36368381773_92090,0,2017-05-10 22:56:20,21,252,34,M,3,141808.05,6,9,Long Standing Client,Adults,Medium,High,Control

In [76]:
# Rename dataframe to export
df_join_clean = df_merge_2

In [77]:
# Save to csv
f.save_to_csv(df_join_clean, "df_join_clean.csv")

DataFrame successfully saved to ../data/clean/df_join_clean.csv

In [78]:
# create a dummy function to export dataframe directly
def import_df_join_clean():
    return (
        df_join_clean
        )